* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  max-width: 1440px;
  font-family: "Public Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d314d;
  color: white;
  transition: 0.3s all ease-out;
}
.panel-btn--top {
  right: calc(4.2rem + 1vw);
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: white;
}

.main-menu {
  margin-bottom: 40px;
}
.main-menu__items {
  color: #f3f4f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  list-style: none;
  font-size: 18px;
  font-weight: 300;
}

.main-panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(49, 211, 92, 0.9);
  transition: transform 0.4s ease;
  width: 100%;
  transform: translate(-100%, 0);
}
.main-panel__nav {
  width: inherit;
}
.main-panel__items {
  list-style: none;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
.main-panel__list {
  width: inherit;
  padding: 2rem;
  display: block;
}
.main-panel__list:hover {
  font-weight: bold;
  background-color: rgba(45, 49, 77, 0.9);
}
.main-panel__link {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all 0.4s ease;
}

.main-panel.is-active {
  transform: translate(0, 0);
}

.button {
  background-color: magenta;
  border: none;
  padding: 0.8em 2.3em;
  border-radius: 40px;
  font-size: 15.84px;
}
.button--cta {
  color: white;
  background: linear-gradient(to left, #2bb7da, #31d35c);
}

.top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.2rem + 1vw);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d314d;
  color: white;
  outline: 0;
  border: 0;
  transition: 0.3s all ease-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.is-color {
  background-color: #31d35c;
  color: white;
}

.data-inf__maintitle {
  color: #2d314d;
  font-size: 36px;
  font-weight: 400;
}
.data-inf__mainsubtitle {
  color: #9698a6;
  font-size: 14.4px;
  line-height: 23.4px;
  text-align: center;
}
.data-inf__secondtitle {
  color: #2d314d;
  font-size: 28.8px;
  font-weight: 300;
}
.data-inf__secondsubtitle {
  color: #9698a6;
  font-size: 14.4px;
  line-height: 23.4px;
  text-align: center;
}

.main-header {
  display: grid;
  grid-template-rows: 64px 284px 265px;
  grid-template-areas: "navArea" "bannerArea" "dataArea";
  padding: 0 0 89px;
}

.logo {
  height: 2rem;
  width: 10rem;
}

.nav-bar {
  grid-area: navArea;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  align-items: center;
}
.nav-bar__toggle {
  border: 1px solid green;
}

.main-header__banner {
  grid-area: bannerArea;
}

.data-inf {
  grid-area: dataArea;
  padding: 0 2rem;
}
.data-inf__maintitle {
  margin: 1.4rem 0;
}
.data-inf__mainsubtitle {
  margin-bottom: 1.4rem;
}

.latest-main {
  height: 1850px;
  padding-top: 68px;
}

.why-main {
  height: 1464px;
}

.main-footer {
  height: 540px;
  text-align: center;
  padding: 40px;
}
.main-footer__social {
  padding: 30px 0;
  margin: 0 33px;
  display: flex;
  justify-content: space-evenly;
}

.why-main {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #f3f4f6;
}
.why-main__items {
  padding: 46px 0;
}

.data-inf__secondtitle {
  padding: 25px 0;
}
.data-inf__secondsubtitle {
  padding-bottom: 40px;
}

.latest-main {
  text-align: center;
  background-color: #fafafa;
}
.latest-main__card {
  border-radius: 5px;
  text-align: left;
  background-color: white;
  height: 382px;
  width: 340px;
  margin: 24px auto;
}

.article-image {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.card-main {
  padding: 32px 32px;
}
.card-main__autor {
  font-size: 11.34px;
  color: #9698a6;
}
.card-main__title {
  font-size: 15.84px;
  color: #2d314d;
}
.card-main__resume {
  font-size: 12.6px;
  color: #9698a6;
  line-height: 1.4;
}

.main-header__banner {
  background: url("../../assets/image-mockups.png") no-repeat center bottom, url("../../assets/bg-intro-mobile.svg") no-repeat center;
  background-size: 327px, cover;
}

.data-inf {
  text-align: center;
}

.main-footer {
  background-color: #2d314d;
}
.main-footer__copy {
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  color: #9698a6;
}

/*# sourceMappingURL=style.css.map */
