.main-header{
    display: grid;
    grid-template-rows: 64px 284px 265px;
    grid-template-areas: "navArea"
                         "bannerArea"
                         "dataArea"; 
    padding: 0 0 89px; 
}  

.logo{
    height: 2rem;
    width: 10rem;
}

.nav-bar{
    grid-area: navArea;
    display: flex;
    justify-content: center;
    padding: 0 $gutterVertical * 2;
    align-items: center;

    &__toggle{
        border: 1px solid green;
    }
}
 

.main-header__banner{
    grid-area: bannerArea;
} 

.data-inf{ 
    grid-area: dataArea;
    padding: 0 $gutterVertical * 2;

    &__maintitle{
        margin: $gutterVertical * 1.4 0;
    }

    &__mainsubtitle{
        margin-bottom: $gutterVertical * 1.4;
    }

}