.button{
    background-color: magenta;
    border: none;
    padding: .8em 2.3em;
    border-radius: 40px;
    font-size: $s * 1.1;

    &--cta{
        color: $white;
        background: linear-gradient(to left, $brightCyan,$limeGreen);
    }
}

.top-btn{
        position: fixed;
        z-index: 999;
        bottom: 1vh;
        right: calc(4.2rem + 1vw); 
        height: 4rem;
        width: 4rem; 
        border-radius: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $darkBlue;
        color: $white;
        outline: 0;
        border:0;
        transition: 0.3s all ease-out;
}


// .top-btn:hover{
//     background-color:$limeGreen;
//     color:var(--main-color)
// }

.hidden{
    visibility: hidden;
    opacity: 0;
}

.is-color{
    background-color: $limeGreen;
    color:$white;
}