.dark-theme-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    height: 4rem;
    width: 4rem; 
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:$darkThemeMode;
    font-size: 2rem;
    color: $white;
    outline: 0;
    border:0;
    transition: 0.3s all ease-out;
}  

.dark-mode{
    background-color:$darkThemeMode; 
    color:$white;
    transition: 0.3s all ease-out;
}  


.is-color{
    background:$white;
    color:$white;
}