.panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    height: 4rem;
    width: 4rem; 
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkBlue;
    color: $white;
    transition: 0.3s all ease-out;
    &--top{
        right: calc(4.2rem + 1vw); 
    }
} 

.hamburger-inner,
.hamburger-inner:after, 
.hamburger-inner:before{
    background-color:$white;
}

.main-menu{
    margin-bottom:40px;
    &__items{
        color:$lightGrayishBlue;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        height: 210px;
        list-style: none;
        font-size:$m;
        font-weight: 300;
    }
}

.main-panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $limeGreenModal;
    transition:transform .4s ease;
    width: 100%;
    transform: translate(-100%,0);
    &__nav{
        width: inherit;
    }

    &__items{
        list-style: none;
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
    }

    &__list{
        width: inherit;
        padding: 2rem;
        display: block;
    }

    &__list:hover{
        font-weight: bold;
        background-color: $darkBlueModal;

    }

    &__link{
        text-decoration: none;
        font-size: 1.5rem;
        color:$white;
        transition:all .4s ease;
    }

    
}

.main-panel.is-active{
    transform:translate(0,0);
}